body{
  background-image: url('./world 1.png');
  height:100%;
  width:100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
img:hover{
  height: 47px;	width: 32px;
}
#marker1{ /*new york*/
  margin-left:29%;
  margin-top:16%;
}
#marker1:hover{
  margin-left: 28.5%;
  margin-top: 14.5%;
}
#marker2{ /*london*/
  margin-left:44%;
  margin-top:-26.5%;
}
#marker2:hover{
  margin-left:43.5%;
  margin-top:-28%;
}
#marker3{ /*beograd*/
  margin-left: 48.5%;
  margin-top:-25.5%;
}
#marker3:hover{
  margin-left:48%;
  margin-top:-27%;
}
#marker4{ /*tokyo*/
  margin-left:73.8%;
  margin-top: -26.5%;
}
#marker4:hover{
  margin-left:73.3%;
  margin-top: -28%;
}
#marker5{ /*canberra*/
  margin-left:76%;
  margin-top:1%;
}
#marker5:hover{
  margin-left:75.5%;
  margin-top: -1%;
}
.vremeny{
  width:130px;
  opacity:0.7;
  background-color: black;
  color:white;
  margin-left: 24.8%;
  margin-top:1%;
  text-align:center;
  border-radius: 5px;
  font-size:1.5em;
  /*display:none;*/
}
#vremeny{
  margin-top:-15%;
  color:#ADD8E6;
  font-size:1.7em;
}

